In [154]:
import shapefile
from shapely.geometry import shape, Point, mapping
import numpy as np
import pandas as pd

base = "../../data/raw/"
filename = "2016_LGA_SHAPE/LGA_2016_AUST"

sf = shapefile.Reader(base+filename)

nswshapes = list(map(lambda x: shape(x.__geo_interface__), sf.shapes()[:130]))
centroids = list(map(lambda x: shape(x.__geo_interface__).centroid, sf.shapes()[:130]))

In [155]:
centroids[0].x

146.97042407483445

In [110]:
import json
lga_json = list(map(lambda x: x.__geo_interface__, sf.shapes()[:130]))

geojson = {'type': 'FeatureCollection',
            'features': [{'type':'Feature', 'geometry':x, 'properties': {'name':nswdf.iloc[i]['clean_name']}} for i, x in enumerate(lga_json)]
          }


with open('geojson.json','w') as f:
    json.dump(geojson, f)
#geojson[:5]

In [4]:
import pandas as pd
df = pd.DataFrame(sf.records())
nswdf = df[df[4] =="New South Wales"]
# drop "No usual address" - not a useful LGA
nswdf = nswdf[nswdf[0] != "LGA19499"]
nswdf.columns = ["code", "codenum", "name", "unknown", "state", "unknown2"]
nswdf["clean_name"] = nswdf["name"].str.extract('([^\\(]*)', expand=False).str.strip()
nswdf

,code,codenum,name,unknown,state,unknown2,clean_name
0,LGA10050,10050,Albury (C),1,New South Wales,305.9459,Albury
1,LGA10130,10130,Armidale Regional (A),1,New South Wales,8620.6990,Armidale Regional
2,LGA10250,10250,Ballina (A),1,New South Wales,484.9389,Ballina
3,LGA10300,10300,Balranald (A),1,New South Wales,21690.6753,Balranald
4,LGA10470,10470,Bathurst Regional (A),1,New South Wales,3817.8646,Bathurst Regional
5,LGA10550,10550,Bega Valley (A),1,New South Wales,6278.8811,Bega Valley
6,LGA10600,10600,Bellingen (A),1,New South Wales,1600.4337,Bellingen
7,LGA10650,10650,Berrigan (A),1,New South Wales,2065.7759,Berrigan
8,LGA10750,10750,Blacktown (C),1,New South Wales,240.0487,Blacktown
9,LGA10800,10800,Bland (A),1,New South Wales,8557.6535,Bland
10,LGA10850,10850,Blayney (A),1,New South Wales,1524.6470,Blayney
11,LGA10900,10900,Blue Mountains (C),1,New South Wales,1431.1442,Blue Mountains
12,LGA10950,10950,Bogan (A),1,New South Wales,14599.8996,Bogan
13,LGA11100,11100,Botany Bay (C),1,New South Wales,21.6826,Botany Bay
14,LGA11150,11150,Bourke (A),1,New South Wales,41599.5072,Bourke
15,LGA11200,11200,Brewarrina (A),1,New South Wales,19163.4798,Brewarrina
16,LGA11250,11250,Broken Hill (C),1,New South Wales,170.1153,Broken Hill
17,LGA11300,11300,Burwood (A),1,New South Wales,7.1281,Burwood
18,LGA11350,11350,Byron (A),1,New South Wales,565.8029,Byron
19,LGA11400,11400,Cabonne (A),1,New South Wales,6022.3498,Cabonne
20,LGA11450,11450,Camden (A),1,New South Wales,201.0281,Camden
21,LGA11500,11500,Campbelltown (C) (NSW),1,New South Wales,311.9111,Campbelltown
22,LGA11520,11520,Canada Bay (A),1,New South Wales,19.9233,Canada Bay
23,LGA11570,11570,Canterbury-Bankstown (A),1,New South Wales,110.2638,Canterbury-Bankstown
24,LGA11600,11600,Carrathool (A),1,New South Wales,18932.4603,Carrathool
25,LGA11650,11650,Central Coast (C) (NSW),1,New South Wales,1681.0695,Central Coast
26,LGA11700,11700,Central Darling (A),1,New South Wales,53492.1931,Central Darling
27,LGA11720,11720,Cessnock (C),1,New South Wales,1965.1589,Cessnock
28,LGA11730,11730,Clarence Valley (A),1,New South Wales,10428.6803,Clarence Valley
29,LGA11750,11750,Cobar (A),1,New South Wales,45579.3299,Cobar
...,...,...,...,...,...,...,...
100,LGA17000,17000,Singleton (A),1,New South Wales,4892.7170,Singleton
101,LGA17040,17040,Snowy Monaro Regional (A),1,New South Wales,15163.5461,Snowy Monaro Regional
102,LGA17080,17080,Snowy Valleys (A),1,New South Wales,8959.0028,Snowy Valleys
103,LGA17100,17100,Strathfield (A),1,New South Wales,14.0009,Strathfield
104,LGA17150,17150,Sutherland Shire (A),1,New South Wales,333.5933,Sutherland Shire
105,LGA17200,17200,Sydney (C),1,New South Wales,26.7429,Sydney
106,LGA17310,17310,Tamworth Regional (A),1,New South Wales,9884.3506,Tamworth Regional
107,LGA17350,17350,Temora (A),1,New South Wales,2802.0160,Temora
108,LGA17400,17400,Tenterfield (A),1,New South Wales,7322.7930,Tenterfield
109,LGA17420,17420,The Hills Shire (A),1,New South Wales,386.1588,The Hills Shire
110,LGA17550,17550,Tweed (A),1,New South Wales,1307.6562,Tweed
111,LGA17620,17620,Upper Hunter Shire (A),1,New South Wales,8096.0892,Upper Hunter Shire
112,LGA17640,17640,Upper Lachlan Shire (A),1,New South Wales,7127.3957,Upper Lachlan Shire
113,LGA17650,17650,Uralla (A),1,New South Wales,3226.5327,Uralla
114,LGA17750,17750,Wagga Wagga (C),1,New South Wales,4824.4889,Wagga Wagga
115,LGA17850,17850,Walcha (A),1,New South Wales,6261.0242,Walcha
116,LGA17900,17900,Walgett (A),1,New South Wales,22308.3848,Walgett
117,LGA17950,17950,Warren (A),1,New South Wales,10753.7673,Warren
118,LGA18020,18020,Warrumbungle Shire (A),1,New South Wales,12372.1201,Warrumbungle Shire
119,LGA18050,18050,Waverley (A),1,New South Wales,9.3507,Waverley
120,LGA18100,18100,Weddin (A),1,New South Wales,3414.8566,Weddin
121,LGA18200,18200,Wentworth (A),1,New South Wales,26256.2398,Wentworth
122,LGA18230,18230,Western Plains Regional (A),1,New South Wales,7534.5251,Western Plains Regional
123,LGA18250,18250,Willoughby (C),1,New South Wales,22.4258,Willoughby
124,LGA18350,18350,Wingecarribee (A),1,New South Wales,2689.3413,Wingecarribee
125,LGA18400,18400,Wollondilly (A),1,New South Wales,2555.4340,Wollondilly
126,LGA18450,18450,Wollongong (C),1,New South Wales,683.9860,Wollongong
127,LGA18500,18500,Woollahra (A),1,New South Wales,12.2775,Woollahra
128,LGA18710,18710,Yass Valley (A),1,New South Wales,3995.3257,Yass Valley
129,LGA19399,19399,Unincorporated NSW,1,New South Wales,93214.1592,Unincorporated NSW

In [119]:
target = pd.read_csv(base+"cleaned_target.csv")

set(nswdf["clean_name"]).difference(set(target["LGA"]))
#set(target["LGA"]).difference(set(nswdf["clean_name"]))

{'Botany Bay',
 'Gundagai',
 'Rockdale',
 'Unincorporated NSW',
 'Western Plains Regional'}

In [46]:
import os

tweetdf =pd.read_csv(os.path.join(base, "tweet.csv"),header=0)

In [47]:
loctweetdf = tweetdf.loc[tweetdf['lat'].notnull(),:]

In [48]:
loctweetdf

,id,time,created_at,from_user_name,text,filter_level,possibly_sensitive,withheld_copyright,withheld_scope,truncated,...,from_user_utcoffset,from_user_timezone,from_user_lang,from_user_tweetcount,from_user_followercount,from_user_friendcount,from_user_favourites_count,from_user_listed,from_user_withheld_scope,from_user_created_at
1,951300448031473664,1515642675,2018-01-11 03:51:15,Markfchris,Things to do on hot day in Sydney. @ Carriagew...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,14953,695,1725,2615,62,NaN,2010-04-22 02:37:40
4,951300560812113920,1515642702,2018-01-11 03:51:42,ZKII_,BB And The Blips x The Red Rattler Theater @ T...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,604,86,275,134,3,NaN,2012-10-02 09:55:23
10,951300678298886144,1515642730,2018-01-11 03:52:10,AlexandraAndoni,Client work takes us all over the map - today ...,low,0.0,NaN,NaN,0,...,28800.0,Hong Kong,en,995,210,464,489,29,NaN,2011-04-14 09:16:44
11,951300740743655424,1515642745,2018-01-11 03:52:25,JensensTennis,Awesome day at the Sydney International Wheelc...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,49,13,94,83,0,NaN,2017-11-02 22:03:22
17,951300915641901056,1515642787,2018-01-11 03:53:07,pavel6067,Drinking a Vilkmerges Sviesusis by Vilkmerges ...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,18843,40,90,50,11,NaN,2011-07-02 14:17:21
18,951300995216297989,1515642806,2018-01-11 03:53:26,AndieSoetaman,enjoying the view on top of a cliff next to Bo...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,8448,1283,251,399,9,NaN,2010-01-27 12:17:14
30,951301525636354048,1515642932,2018-01-11 03:55:32,Russy_Bear,🏄🏼‍♂️🏖#bondi #bondibeach #bondirescue #streeta...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,36,9,32,24,0,NaN,2014-01-26 20:17:12
40,951301855107342336,1515643011,2018-01-11 03:56:51,ATOAWASCA,Estoy autorizado a setirme bonito? @ Coogee Be...,low,0.0,NaN,NaN,0,...,-18000.0,Quito,en,109878,2177,2052,4630,7,NaN,2010-01-30 02:48:16
46,951302438291722241,1515643150,2018-01-11 03:59:10,recycologyy,Farewell to the #elvisexpress leaving #central...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,8875,300,75,14,52,NaN,2011-02-14 03:23:56
50,951302658366861318,1515643202,2018-01-11 04:00:02,susan_paget,A little update on my quest to take a break fr...,low,0.0,NaN,NaN,0,...,36000.0,Solomon Is.,en,3761,356,255,502,26,NaN,2012-09-21 07:25:31
54,951302785651310594,1515643233,2018-01-11 04:00:33,TrendsSydney,'crumble' & 'secrecy' are now trending in #Syd...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,75244,5972,1895,2,217,NaN,2010-03-17 06:52:47
57,951303017319550977,1515643288,2018-01-11 04:01:28,haidarasta,I'm at Westfield Eastgardens - @westfieldau in...,low,0.0,NaN,NaN,0,...,-32400.0,Alaska,en,74168,600,468,14471,0,NaN,2011-02-06 10:30:00
58,951303021039947777,1515643289,2018-01-11 04:01:29,LusciousKikis,Back to Gusto On the Beach...Banana Toffee Cak...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,3442,169,85,957,7,NaN,2011-12-21 23:44:39
72,951303424435544064,1515643385,2018-01-11 04:03:05,Mario426,@Girlie4 Safe and sound xxxxx (@ API Camellia ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,12837,430,2336,176,23,NaN,2009-02-27 06:22:39
73,951303433503387649,1515643387,2018-01-11 04:03:07,PairsonnalitesA,ASIA | AUNZ — Maori teens pressured for nude ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1128837,3201,1444,0,154,NaN,2010-05-29 17:26:03
74,951303435437010946,1515643388,2018-01-11 04:03:08,PairsonnalitesA,ASIA | AUNZ — Court puts fishhooks in taonga ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1128838,3201,1444,0,154,NaN,2010-05-29 17:26:03
75,951303437148286976,1515643388,2018-01-11 04:03:08,PairsonnalitesA,ASIA | AUNZ — Maori artist brings Australia's...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1128839,3201,1444,0,154,NaN,2010-05-29 17:26:03
76,951303438477926401,1515643388,2018-01-11 04:03:08,PairsonnalitesA,ASIA | AUNZ — Maori representation and social...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1128840,3201,1444,0,154,NaN,2010-05-29 17:26:03
78,951303483415826432,1515643399,2018-01-11 04:03:19,Iam_NaPha,Here I am!!!!! #PalmBeach 🏖😊🏝 @ Barrenjoey Hea...,low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),th,18892,1366,412,802,3,NaN,2011-09-23 02:12:35
84,951303819811545089,1515643479,2018-01-11 04:04:39,SonnyManansala,Looking at #fingerwharfwoolloomooloo and #sydn...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,639,33,103,160,1,NaN,2011-10-15 10:34:46
90,951304131271999488,1515643553,2018-01-11 04:05:53,tmj_syd_sales,"If you're looking for work in #Sydney, NSW, ch...",low,0.0,NaN,NaN,0,...,-18000.0,Eastern Time (US & Canada),en,53,441,302,0,129,NaN,2009-04-27 01:14:54
98,951304554020331521,1515643654,2018-01-11 04:07:34,Donnabrasco310,A bunch of people have contacted me re my last...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,7402,330,491,892,16,NaN,2010-09-13 00:31:51
105,951304795293454336,1515643712,2018-01-11 04:08:32,atinyseed,"신약 성서에 기록된, 예수님을 믿는 성도는 일반인들과 구별된다. 신앙을 드러내는 것...",low,0.0,NaN,NaN,0,...,NaN,NaN,en,427,84,349,360,5,NaN,2015-02-15 08:22:10
112,951304951476768769,1515643749,2018-01-11 04:09:09,_the_epic_life,I don’t usually go down after a workout but th...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,1624,305,277,161,9,NaN,2011-02-28 00:24:15
154,951306237676851200,1515644056,2018-01-11 04:14:16,SnowdenParkes,Starting the New Year with the launch of Stell...,low,0.0,NaN,NaN,0,...,-36000.0,Hawaii,en,333,101,195,9,1,NaN,2011-05-09 14:18:10
162,951306595740409856,1515644141,2018-01-11 04:15:41,Yoen11,"I'm at Sydney CBD in Sydney, NSW https://t.co/...",low,0.0,NaN,NaN,0,...,25200.0,Jakarta,en,16625,160,1328,3,8,NaN,2010-12-27 00:54:48
164,951306757749518336,1515644180,2018-01-11 04:16:20,zinkandsons,Three-piece wedding suit for ZC cloth by @geof...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,506,366,35,5,12,NaN,2012-03-15 03:47:03
165,951306759645229061,1515644180,2018-01-11 04:16:20,recycologyy,Elvii selfie Sooo much fun today at Central S...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,8876,300,75,14,52,NaN,2011-02-14 03:23:56
167,951306832252989440,1515644197,2018-01-11 04:16:37,TrendsAustralia,"Menz FruChocs, @menzfruchocs is now trending i...",low,0.0,NaN,NaN,0,...,39600.0,Melbourne,en,106485,13934,3584,33,198,NaN,2010-11-03 01:33:33
185,951307447779647488,1515644344,2018-01-11 04:19:04,Yoen11,"I'm at @ColesOnline in Sydney, NSW https://t.c...",low,0.0,NaN,NaN,0,...,25200.0,Jakarta,en,16626,160,1328,3,8,NaN,2010-12-27 00:54:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522271,971872195306651648,1520547362,2018-03-08 22:16:02,M1trafficNSW,"The earlier BREAKDOWN Car, COWAN M1 just past ...",low,0.0,NaN,NaN,0,...,36000.0,Brisbane,en,18542,5448,2288,162,92,NaN,2012-06-24 11:23:08
522282,971872737991057410,1520547491,2018-03-08 22:18:11,erudenko,Putin is everywhere. #putin #putinmemes @ Sydn...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,1576,51,115,218,4,NaN,2009-12-25 13:18:24
522293,971873223855038465,1520547607,2018-03-08 22:20:07,seattoseat,"One of the hidden gems of sydney, look up and ...",low,0.0,NaN,NaN,0,...,-28800.0,Pacific Time (US & Canada),en,523,14,44,5,3,NaN,2015-10-30 10:51:24
522294,971873241596874753,1520547611,2018-03-08 22:20:11,sutto007,Sunrise Thursday 8th March 2018 -Day 67 of yea...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,9452,1834,282,1287,110,NaN,2008-05-20 09:34:49
522296,971873262979485699,1520547617,2018-03-08 22:20:17,DennisVollmer,Ahhh Friday how I’ve missed you 🤗 Let’s jump i...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,25914,1085,2109,2294,111,NaN,2009-04-10 12:22:18
522310,971873605444362240,1520547698,2018-03-08 22:21:38,56Narwhals,"Below the poo, too bad for you. Above the crow...",low,0.0,NaN,NaN,0,...,39600.0,New Caledonia,en,2208,455,92,110,26,NaN,2014-02-03 09:28:20
522314,971873700449435648,1520547721,2018-03-08 22:22:01,pubtextiles,My colour reference I gave to Javed for this i...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,3674,2498,1933,100,31,NaN,2011-02-23 22:44:16
522330,971874396766982144,1520547887,2018-03-08 22:24:47,rickcaine9,“The fearful” 🦁🦁🦁🦁🦁🦁🦁 #cowardlylion #thecoward...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,113,20,63,5,0,NaN,2013-06-15 05:32:09
522337,971874585388961792,1520547932,2018-03-08 22:25:32,GuyMorganArtist,G’day QE2! @ Sydney Harbour https://t.co/ukUOD...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,1881,82,50,125,12,NaN,2013-05-23 02:54:09
522345,971874949324529665,1520548019,2018-03-08 22:26:59,dionbp,"I'm at Headcase in Paddington, NSW https://t.c...",low,0.0,NaN,NaN,0,...,0.0,London,en,19091,1293,1434,6971,49,NaN,2009-02-21 23:34:03
522356,971875254875426817,1520548091,2018-03-08 22:28:11,Jeremyville,Last Bondi Beach lunch with dear friends @slin...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,8167,7041,81,118,280,NaN,2009-01-21 02:34:27
522375,971875902635245568,1520548246,2018-03-08 22:30:46,SUCC1864,Round 14 (Day 2) Match Reports https://t.co/t...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,2367,1324,164,432,11,NaN,2012-05-29 12:55:17
522383,971876228431978502,1520548324,2018-03-08 22:32:04,PairsonnalitesU,ASIA | AUNZ — 81 per cent of world population...,low,0.0,NaN,NaN,1,...,-28800.0,Pacific Time (US & Canada),en,1322805,2825,2739,0,140,NaN,2010-10-26 15:04:54
522384,971876231778988032,1520548324,2018-03-08 22:32:04,PairsonnalitesU,ASIA | AUNZ — Child protection report reveals...,low,0.0,NaN,NaN,1,...,-28800.0,Pacific Time (US & Canada),en,1322806,2825,2739,0,140,NaN,2010-10-26 15:04:54
522385,971876234098454528,1520548325,2018-03-08 22:32:05,PairsonnalitesU,ASIA | AUNZ — Stark protection rates for indi...,low,0.0,NaN,NaN,1,...,-28800.0,Pacific Time (US & Canada),en,1322807,2825,2739,0,140,NaN,2010-10-26 15:04:54
522386,971876235973283841,1520548325,2018-03-08 22:32:05,PairsonnalitesU,ASIA | AUNZ — June Oscar ensuring Indigenous ...,low,0.0,NaN,NaN,1,...,-28800.0,Pacific Time (US & Canada),en,1322808,2825,2739,0,140,NaN,2010-10-26 15:04:54
522387,971876248828833792,1520548328,2018-03-08 22:32:08,PairsonnalitesA,ASIA | AUNZ — 81 per cent of world population...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1165455,3214,1438,0,154,NaN,2010-05-29 17:26:03
522388,971876251081236480,1520548329,2018-03-08 22:32:09,PairsonnalitesA,ASIA | AUNZ — Child protection report reveals...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1165456,3214,1438,0,154,NaN,2010-05-29 17:26:03
522389,971876252285001729,1520548329,2018-03-08 22:32:09,PairsonnalitesA,ASIA | AUNZ — Stark protection rates for indi...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1165457,3214,1438,0,154,NaN,2010-05-29 17:26:03
522391,971876253383852032,1520548330,2018-03-08 22:32:10,PairsonnalitesA,ASIA | AUNZ — June Oscar ensuring Indigenous ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en-gb,1165458,3214,1438,0,154,NaN,2010-05-29 17:26:03
522399,971876511388241921,1520548391,2018-03-08 22:33:11,AltaModaSydney,H A P P Y F R I D A Y ! . We’re open to 7....,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,7374,517,1258,3540,70,NaN,2013-08-23 14:32:41
522409,971876731882803201,1520548444,2018-03-08 22:34:04,GuyMorganArtist,Life drawing at tombassprize tombasssculptures...,low,0.0,NaN,NaN,0,...,NaN,NaN,en,1882,82,50,125,12,NaN,2013-05-23 02:54:09
522411,971876809997471749,1520548462,2018-03-08 22:34:22,renee_glitch,It's my day off.. (@ Port Hacking Rd nr Box Rd...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,13174,103,157,40,13,NaN,2011-03-04 17:31:46
522416,971876910652370944,1520548486,2018-03-08 22:34:46,ayasasaki108,"I'm at Paddy's Markets in Haymarket, NSW https...",low,0.0,NaN,NaN,0,...,32400.0,Osaka,ja,5103,153,256,540,6,NaN,2011-01-16 18:27:04
522417,971876911495438336,1520548486,2018-03-08 22:34:46,SteveFaucette,The unveiling !! #formwork #aussie #visitnsw @...,low,0.0,NaN,NaN,0,...,39600.0,Canberra,en,1743,98,212,1740,9,NaN,2009-05-02 06:23:20
522420,971876996509786112,1520548507,2018-03-08 22:35:07,seb_ebikes,Pulling the rabbit out of the hat with the new...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,939,582,170,3,8,NaN,2012-06-28 06:32:06
522422,971877036678672384,1520548516,2018-03-08 22:35:16,ARTParkAust,#dreamtime #Edition 1 /12 #sculpture #silicon ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,1066,164,229,43,11,NaN,2014-06-19 23:52:29
522434,971877411066228736,1520548606,2018-03-08 22:36:46,GDSalamanca,Always an memorable experience here at @campos...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,1202,37,133,19,11,NaN,2010-05-20 05:36:39
522438,971877505090183171,1520548628,2018-03-08 22:37:08,1JYK1,#anothernightanothershow #latergram #lastnight...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,1799,158,179,609,10,NaN,2011-03-27 03:09:22
522439,971877523738030081,1520548632,2018-03-08 22:37:12,gregdimmock,Greg Dimmock the music man and A Swag Full of ...,low,0.0,NaN,NaN,0,...,39600.0,Sydney,en,3085,1204,1433,2,14,NaN,2009-02-03 00:02:30

In [120]:
def whichlga(tweetpoints, lgashapes):
    #loop over 130 NSW LGAs and return a name or "None"
    #NB you get names from Census data which is 2016 - pre amalgamations
    #test by whether in bounding box. If in two, go to shapes. If still in two, one with smaller bounding box
    output = []
    nums = []
    amalgamations = {'Botany Bay': 'Bayside',
                     'Rockdale'  : 'Bayside',
                     'Gundagai'  : 'Cootamundra-Gundagai',
                     'Western Plains Regional' : 'Dubbo Regional',
                     'Unincorporated NSW' : 'Unincorporated Far West'
                    }
    
    for point in tweetpoints:
        found = []
        distances = []
        for i, nswshape in enumerate(nswshapes):
            if point.within(nswshape):
                #import pdb; pdb.set_trace()
                found.append(i)
                break
            else:
                distances.append(point.distance(nswshape))
                
        #print(len(found))
        nums.append(len(found))
        if len(found) == 1:
            clean_name = nswdf.iloc[found[0]].clean_name
        else:
            #out on the water
            clean_name = nswdf.iloc[np.argmin(np.asarray(distances))].clean_name
            
        if clean_name in amalgamations:
            clean_name = amalgamations[clean_name]
        output.append(clean_name)
            
    return pd.Series(output), nums

In [50]:
tweetpoints = []

loctweetdf.apply(lambda x: tweetpoints.append(shape(Point(x['lng'], x['lat']))), axis=1)

1         None
4         None
10        None
11        None
17        None
18        None
30        None
40        None
46        None
50        None
54        None
57        None
58        None
72        None
73        None
74        None
75        None
76        None
78        None
84        None
90        None
98        None
105       None
112       None
154       None
162       None
164       None
165       None
167       None
185       None
          ...
522271    None
522282    None
522293    None
522294    None
522296    None
522310    None
522314    None
522330    None
522337    None
522345    None
522356    None
522375    None
522383    None
522384    None
522385    None
522386    None
522387    None
522388    None
522389    None
522391    None
522399    None
522409    None
522411    None
522416    None
522417    None
522420    None
522422    None
522434    None
522438    None
522439    None
Length: 75082, dtype: object

In [121]:

output, found = whichlga(tweetpoints, nswshapes)
found = np.asarray(found)
np.histogram(found)

(array([15725,     0,     0,     0,     0,     0,     0,     0,     0,
        59357]),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

In [114]:
#tweetdf[pd.isnull(output)]
tweetdf.loc[tweetdf['lat'].notnull(),'lga'] = np.asarray(output)

In [95]:
tweetdf.to_csv("tweets_w_lga.csv")

In [115]:
nextaggdf = tweetdf[['lat','lng','text','lga']].loc[pd.isnull(tweetdf['lga']) & ~pd.isnull(tweetdf['lat'])].groupby(['lat','lng']).agg('count').reset_index()
#output

In [117]:
tweetdf[['lat','lng','text','lga']].loc[~pd.isnull(tweetdf['lat'])]

,lat,lng,text,lga
1,-33.893658,151.192032,Things to do on hot day in Sydney. @ Carriagew...,Sydney
4,-33.909939,151.163666,BB And The Blips x The Red Rattler Theater @ T...,Inner West
10,-33.777199,151.124115,Client work takes us all over the map - today ...,Ryde
11,-33.718742,150.922531,Awesome day at the Sydney International Wheelc...,Blacktown
17,-33.807701,151.089005,Drinking a Vilkmerges Sviesusis by Vilkmerges ...,Ryde
18,-33.888908,151.260635,enjoying the view on top of a cliff next to Bo...,Waverley
30,-33.888882,151.277588,🏄🏼‍♂️🏖#bondi #bondibeach #bondirescue #streeta...,Waverley
40,-33.920692,151.257263,Estoy autorizado a setirme bonito? @ Coogee Be...,Randwick
46,-33.882500,151.206665,Farewell to the #elvisexpress leaving #central...,Sydney
50,-33.797215,151.287430,A little update on my quest to take a break fr...,Northern Beaches
54,-33.867100,151.207001,'crumble' & 'secrecy' are now trending in #Syd...,Sydney
57,-33.944916,151.224243,I'm at Westfield Eastgardens - @westfieldau in...,Botany Bay
58,-33.773659,151.292160,Back to Gusto On the Beach...Banana Toffee Cak...,Northern Beaches
72,-33.819595,151.030823,@Girlie4 Safe and sound xxxxx (@ API Camellia ...,Parramatta
73,-33.863575,151.237793,ASIA | AUNZ — Maori teens pressured for nude ...,Woollahra
74,-33.863575,151.237793,ASIA | AUNZ — Court puts fishhooks in taonga ...,Woollahra
75,-33.863575,151.237793,ASIA | AUNZ — Maori artist brings Australia's...,Woollahra
76,-33.863575,151.237793,ASIA | AUNZ — Maori representation and social...,Woollahra
78,-33.580002,151.330002,Here I am!!!!! #PalmBeach 🏖😊🏝 @ Barrenjoey Hea...,Northern Beaches
84,-33.860001,151.210999,Looking at #fingerwharfwoolloomooloo and #sydn...,Sydney
90,-33.868820,151.209290,"If you're looking for work in #Sydney, NSW, ch...",Sydney
98,-33.897999,151.162659,A bunch of people have contacted me re my last...,Inner West
105,-33.860001,151.210999,"신약 성서에 기록된, 예수님을 믿는 성도는 일반인들과 구별된다. 신앙을 드러내는 것...",Sydney
112,-33.763130,151.272552,I don’t usually go down after a workout but th...,Northern Beaches
154,-33.814171,151.105774,Starting the New Year with the launch of Stell...,Ryde
162,-33.868961,151.207748,"I'm at Sydney CBD in Sydney, NSW https://t.co/...",Sydney
164,-33.878479,151.214645,Three-piece wedding suit for ZC cloth by @geof...,Sydney
165,-33.882500,151.206665,Elvii selfie Sooo much fun today at Central S...,Sydney
167,-33.867100,151.207001,"Menz FruChocs, @menzfruchocs is now trending i...",Sydney
185,-33.868633,151.207108,"I'm at @ColesOnline in Sydney, NSW https://t.c...",Sydney
...,...,...,...,...
522271,-33.566540,151.192108,"The earlier BREAKDOWN Car, COWAN M1 just past ...",Hornsby
522282,-33.860001,151.210999,Putin is everywhere. #putin #putinmemes @ Sydn...,Sydney
522293,-33.866917,151.207947,"One of the hidden gems of sydney, look up and ...",Sydney
522294,-34.050999,151.156006,Sunrise Thursday 8th March 2018 -Day 67 of yea...,Sutherland Shire
522296,-33.844685,151.067749,Ahhh Friday how I’ve missed you 🤗 Let’s jump i...,Parramatta
522310,-33.841911,150.989212,"Below the poo, too bad for you. Above the crow...",Cumberland
522314,-33.878262,151.161713,My colour reference I gave to Javed for this i...,Inner West
522330,-33.860001,151.210999,“The fearful” 🦁🦁🦁🦁🦁🦁🦁 #cowardlylion #thecoward...,Sydney
522337,-33.860111,151.210190,G’day QE2! @ Sydney Harbour https://t.co/ukUOD...,Sydney
522345,-33.884865,151.226196,"I'm at Headcase in Paddington, NSW https://t.c...",Woollahra
522356,-33.889462,151.281174,Last Bondi Beach lunch with dear friends @slin...,Waverley
522375,-33.890408,151.175659,Round 14 (Day 2) Match Reports https://t.co/t...,Inner West
522383,-33.863575,151.237793,ASIA | AUNZ — 81 per cent of world population...,Woollahra
522384,-33.863575,151.237793,ASIA | AUNZ — Child protection report reveals...,Woollahra
522385,-33.863575,151.237793,ASIA | AUNZ — Stark protection rates for indi...,Woollahra
522386,-33.863575,151.237793,ASIA | AUNZ — June Oscar ensuring Indigenous ...,Woollahra
522387,-33.863575,151.237793,ASIA | AUNZ — 81 per cent of world population...,Woollahra
522388,-33.863575,151.237793,ASIA | AUNZ — Child protection report reveals...,Woollahra
522389,-33.863575,151.237793,ASIA | AUNZ — Stark protection rates for indi...,Woollahra
522391,-33.863575,151.237793,ASIA | AUNZ — June Oscar ensuring Indigenous ...,Woollahra
522399,-33.894180,151.199799,H A P P Y F R I D A Y ! . We’re open to 7....,Sydney
522409,-33.884914,151.226807,Life drawing at tombassprize tombasssculptures...,Woollahra
522411,-34.022804,151.106857,It's my day off.. (@ Port Hacking Rd nr Box Rd...,Sutherland Shire
522416,-33.879868,151.203934,"I'm at Paddy's Markets in Haymarket, NSW https...",Sydney
522417,-33.750000,151.000000,The unveiling !! #formwork #aussie #visitnsw @...,The Hills Shire
522420,-33.870708,151.194824,Pulling the rabbit out of the hat with the new...,Sydney
522422,-33.894196,151.210220,#dreamtime #Edition 1 /12 #sculpture #silicon ...,Sydney
522434,-33.893051,151.183136,Always an memorable experience here at @campos...,Sydney
522438,-33.860001,151.210999,#anothernightanothershow #latergram #lastnight...,Sydney
522439,-33.939632,151.139359,Greg Dimmock the music man and A Swag Full of ...,Rockdale

In [159]:
import dash
import dash_core_components as dcc
from plotly.graph_objs import *

app = dash.Dash()

colorscale = [
    'rgb(193, 193, 193)',
    'rgb(239,239,239)',
    'rgb(195, 196, 222)',
    'rgb(144,148,194)',
    'rgb(101,104,168)',
    'rgb(65, 53, 132)'
]

#lga boundaries
lga_layers = list(map(lambda x: { 
                'id' : x['properties']['name'],
                'sourcetype' : "geojson",
                'source': x,
                'type'   : 'line',
                'layout': {
                    'line-join': 'round',
                    'line-cap' : 'round'
                },
                'color': '#888',
                'line': dict(width=0.5),
                }, geojson['features']))

#lga labels
labels = dict(type='scattermapbox',
            lon=[x.x for x in centroids],
            lat=[x.y for x in centroids],
            mode='text',
            text=list(nswdf.clean_name),
            #hoverinfo='text'
             )

data = [dict(
        type = 'scattermapbox',
        lon = aggdf['lng'],
        lat = aggdf['lat'],
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = colorscale,
            cmin = 0,
            color = aggdf['text'],
            cmax = aggdf['text'].max(),
            colorbar=dict(
                title="Tweets not in an LGA"
            )
        ))]

data.append(labels)

app.layout = dcc.Graph(
    id = "mapbox",
    
    figure={
        "data": data,
        "layout": dict(
            hovermode = "closest",
            margin = dict(l = 0, r = 0, t = 0, b = 0),
            mapbox = dict(
                layers = lga_layers,
                accesstoken = "pk.eyJ1IjoiZGVzdWx0aXIiLCJhIjoiY2pmZDN4M2FlMTEzYjJ3bWlyc2VhaDkxaiJ9.VvezwDLTQlh2GVAEsauwlg",
                bearing = 0,
                center = dict(lat=-32.162833, lon=147.031917),
                style = "light",
                pitch = 0,
                zoom = 6.0,
            )
        )
    },
    style = {"height": 750}
)

app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)

In [163]:
tweetdf['time'].min()

1515642671